
<h1>Routing Example
</h1>

<nav>
  <div class="grid grid-pad">

    <a routerLink="/dashboard" routerLinkActive="active" class="lg-col-12">
      <div class=" ">Dashboard</div>
    </a>
    <a routerLink="/about" routerLinkActive="active" class="lg-col-12">
      <div class=" ">AboutUs</div>
    </a>
    <a routerLink="/contact" routerLinkActive="active" class="lg-col-12">
      <div class=" ">Contact</div>
    </a>
  </div>
</nav>

<br>

  <router-outlet></router-outlet>
  <spinner-component></spinner-component>
